version: 2.1

ambiente-producao: &ambiente-producao
    filters:
      branches:
        only:
          - master
ambiente-integracao: &ambiente-integracao
    filters:
      branches:
        only:
          - develop
ambiente-desenvolvimento: &ambiente-desenvolvimento
    filters:
      branches:
        ignore:
          - master
          - develop

jobs:
  GCP_Provisioning:
    working_directory: /root/app
    docker:
      - image: hashicorp/terraform:light
    steps:
      - checkout
      - run:
          name: "Provisionar infraestrutura PROD"
          command: |
          
            source ./.circleci/vars-ambientes/prod.sh
            
            echo ${GCLOUD_SERVICE_ACCOUNT} > ${GCLOUD_JSON_KEY_PATH}
            cd ./cloud/terraform
            terraform init -backend-config="bucket=${GCLOUD_PROJECT_BUCKET_NAME}" -backend-config="prefix=${GCLOUD_PROJECT_BUCKET_PREFIX}"
            
            commit_message="$(git log --format=oneline -n 1 ${CIRCLE_SHA1})"
            if [[ "$(echo ${commit_message} | grep -E "\[tf-destroy\]")" ]]; then
              terraform plan
              terraform destroy -auto-approve
            elif [[ "$(echo ${commit_message} | grep -E "\[tf-plan\]")" ]]; then
              terraform plan
            elif [[ "$(echo ${commit_message} | grep -E "\[tf-apply\]")" ]]; then
              terraform plan
              terraform apply -auto-approve
            fi

  GCP_Provisioning_Integracao:
    working_directory: /root/app
    docker:
      - image: hashicorp/terraform:full
    steps:
      - checkout
      - run:
          name: "Provisionar infraestrutura INT"
          command: |
          
            source ./.circleci/vars-ambientes/int.sh
            
            echo ${INT_GCLOUD_SERVICE_ACCOUNT} > ${GCLOUD_JSON_KEY_PATH}
            cd ./cloud/terraform
            terraform init -backend-config="bucket=${GCLOUD_PROJECT_BUCKET_NAME}" -backend-config="prefix=${GCLOUD_PROJECT_BUCKET_PREFIX}"
            
            commit_message="$(git log --format=oneline -n 1 ${CIRCLE_SHA1})"
            if [[ "$(echo ${commit_message} | grep -E "\[tf-destroy\]")" ]]; then
              terraform plan
              terraform destroy -auto-approve
            elif [[ "$(echo ${commit_message} | grep -E "\[tf-plan\]")" ]]; then
              terraform plan
            elif [[ "$(echo ${commit_message} | grep -E "\[tf-apply\]")" ]]; then
              terraform plan
              terraform apply -auto-approve
            fi

  GCP_Provisioning_Desenvolvimento:
    working_directory: /root/app
    docker:
      - image: hashicorp/terraform:full
    steps:
      - checkout
      - run:
          name: "Provisionar infraestrutura DEV"
          command: |
          
            source ./.circleci/vars-ambientes/dev.sh
            
            echo ${INT_GCLOUD_SERVICE_ACCOUNT} > ${GCLOUD_JSON_KEY_PATH}
            cd ./cloud/terraform
            terraform init -backend-config="bucket=${GCLOUD_PROJECT_BUCKET_NAME}" -backend-config="prefix=${GCLOUD_PROJECT_BUCKET_PREFIX}"
            
            commit_message="$(git log --format=oneline -n 1 ${CIRCLE_SHA1})"
            if [[ "$(echo ${commit_message} | grep -E "\[tf-destroy\]")" ]]; then
              terraform plan
              terraform destroy -auto-approve
            elif [[ "$(echo ${commit_message} | grep -E "\[tf-plan\]")" ]]; then
              terraform plan
            elif [[ "$(echo ${commit_message} | grep -E "\[tf-apply\]")" ]]; then
              terraform plan
              terraform apply -auto-approve
            fi
          
workflows:
  version: 2.1
  
  gcloud_workflow:
    jobs:
      - GCP_Provisioning:
          <<: *ambiente-producao
      - GCP_Provisioning_Integracao:
          <<: *ambiente-integracao
      - GCP_Provisioning_Desenvolvimento:
          <<: *ambiente-desenvolvimento