version: 2.1

ambiente-producao: &ambiente-producao
    filters:
      branches:
        only:
          - master
ambiente-integracao: &ambiente-integracao
    filters:
      branches:
        only:
          - develop
ambiente-desenvolvimento: &ambiente-desenvolvimento
    filters:
      branches:
        ignore:
          - master
          - develop

jobs:
  GCP_Provisioning:
    working_directory: /root/app
    docker:
      - image: hashicorp/terraform:light
    steps:
      - checkout
      - run:
          name: "Provisionar infraestrutura PROD"
          command: |
          
            source ./.circleci/ambientes/prod.sh
            
            echo ${GCLOUD_SERVICE_ACCOUNT} > ${GCLOUD_JSON_KEY_PATH}
            cd ./cloud/terraform
            terraform init -backend-config="bucket=${GCLOUD_PROJECT_BUCKET_NAME}" -backend-config="prefix=${GCLOUD_PROJECT_BUCKET_PREFIX}"
            terraform plan
            terraform apply -auto-approve

  GCP_Provisioning_Integracao:
    working_directory: /root/app
    docker:
      - image: hashicorp/terraform:full
    steps:
      - checkout
      - run:
          name: "Provisionar infraestrutura INT"
          command: |
          
            source ./.circleci/ambientes/int.sh
            
            echo ${INT_GCLOUD_SERVICE_ACCOUNT} > ${GCLOUD_JSON_KEY_PATH}
            cd ./cloud/terraform
            terraform init -backend-config="bucket=${GCLOUD_PROJECT_BUCKET_NAME}" -backend-config="prefix=${GCLOUD_PROJECT_BUCKET_PREFIX}"
            terraform plan
            terraform apply -auto-approve

  GCP_Provisioning_Desenvolvimento:
    working_directory: /root/app
    docker:
      - image: hashicorp/terraform:full
    steps:
      - checkout
      - run:
          name: "Provisionar infraestrutura DEV"
          command: |
          
            source ./.circleci/ambientes/dev.sh
            
            echo ${DEV_GCLOUD_SERVICE_ACCOUNT} > ${GCLOUD_JSON_KEY_PATH}
            cd ./cloud/terraform
            terraform init -backend-config="bucket=${GCLOUD_PROJECT_BUCKET_NAME}" -backend-config="prefix=${GCLOUD_PROJECT_BUCKET_PREFIX}"
            terraform plan
            terraform apply -auto-approve
          
workflows:
  version: 2.1
  
  gcloud_workflow:
    jobs:
      - GCP_Provisioning:
          <<: *ambiente-producao
      - GCP_Provisioning_Integracao:
          <<: *ambiente-integracao
      - GCP_Provisioning_Desenvolvimento:
          <<: *ambiente-desenvolvimento